 <div>
			<h1>@Html.Sitecore().Field("title") </h1>
			<h4>@Html.Sitecore().Field("BlogId")</h4>
			<h4>@Html.Sitecore().Field("description")</h4>
			<h4>@Html.Sitecore().Field("author")</h4>
			<h4>@Html.Sitecore().Field("authorwikilink")</h4>
			<h4>@Html.Sitecore().Field("posteddate")</h4>
			<h4>@Html.Sitecore().Field("blogimage")</h4>
		</div>	
		